<div *ngIf="eventPlanner">
  <div class="my-6">
    <app-detail-headers [header]="'about'">
      <app-detail-about
        [about]="eventPlanner.description || ''"
        [extraInfo]="eventPlanner.plannedCities"
        [Title]="'Planned Cities'"
      >
      </app-detail-about>
    </app-detail-headers>
  </div>
  <div class="my-6">
    <app-detail-headers [header]="'Address'">
      <app-detail-address
        [addressInfo]="eventPlanner.address"
      ></app-detail-address>
    </app-detail-headers>
  </div>
  <div class="my-6">
    <app-detail-headers [header]="'services'">
      <app-detail-services
        [services]="eventPlanner.services || []"
      ></app-detail-services>
    </app-detail-headers>
  </div>
  <div class="my-6">
    <app-detail-headers [header]="'works'">
      <app-detail-works
        [portfolios]="eventPlanner.portfolios"
      ></app-detail-works>
    </app-detail-headers>
  </div>
</div>
