<div class="">
  <h1 class="text-[1.5rem] font-bold ps-6 pb-6">Event Planners</h1>

  <div class="mx-10 my-4" >
    <app-sort-search
      (limitEmitter)="onPageSizeLimit($event)"
    ></app-sort-search>
  </div>
  <div class="flex justify-center">
    <div class="overflow-x-auto mb-8 shadow-lg rounded-lg w-full mx-10">
      <table class="min-w-full" *ngIf="planners">
        <thead class="bg-gray-700">
          <tr>
            <th
              *ngFor="let item of headers"
              scope="col"
              class="p-3 text-left text-sm font-semibold text-white uppercase tracking-wider"
            >
              {{ item }}
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr
            *ngFor="let user of planners; let i = index"
            class="hover:bg-[#e8e8e8]"
          >
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ i + 1 }}
            </td>
            <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-900">
              <img [src]="user.coverPic" class="w-[5rem] h-auto object-cover" />
            </td>
            <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-900">
              {{ user.company }}
            </td>
            <td class="px-3 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ user?.startYear }}</div>
              <!-- <div class="text-sm text-gray-500">Optimization</div> -->
            </td>
            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ user.contact.mobile }}
            </td>
            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ user.contact.email }}
            </td>
            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
              <ul>
                <li *ngIf="user.planningFee.minPrice">
                  Min Price - {{ user.planningFee.minPrice }}
                </li>
                <li *ngIf="user.planningFee.maxPrice">
                  Max Price - {{ user.planningFee.maxPrice }}
                </li>
              </ul>
            </td>
            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
              <app-status-badge [status]="user.approval"></app-status-badge>
            </td>
            <!-- <td class="px-3 py-4 whitespace-nowrap">
                <label class="relative mb-5 cursor-pointer">
                  <input type="checkbox" (change)="onBlockChange(user._id, user.role, !!user.isBlocked)"
                     [checked]="user.isBlocked" checked
                    class="peer sr-only">

                  <div class="peer h-5 w-9 rounded-full bg-gray-400 after:absolute after:top-[2px] after:left-[2px]
                        after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white
                        after:transition-all after:content-[''] peer-checked:bg-[#b74242] peer-checked:after:translate-x-full
                        peer-checked:after:border-white peer-focus:outline-none">
                  </div>
                </label>
              </td> -->
            <td
              class="px-3 py-4 whitespace-nowrap text-sm font-medium relative"
            >
              <app-action-btns
                [data]="user?.slug"
                [deleted]="!!user.isDeleted"
                [_url]="'/admin/event-planners/details'"
                [approval]="user.approval === 'approved'"
                (_statusEvent)="toggleDropdown(i)"
              >
              </app-action-btns>

              <!-- Dropdown menu -->
              <div
                *ngIf="activeDropdownIndex === i"
                class="absolute right-24 top-16 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-600 dropdown-container"
              >
                <ul
                  class="p-2 text-sm text-white"
                  aria-labelledby="dropdownHoverButton"
                >
                  <li (click)="onStatusChange(i, user.slug, status.Approved)">
                    <a
                      class="block px-5 py-2 hover:bg-[#bdbdbd] hover:text-black"
                      >Approved</a
                    >
                  </li>
                  <li (click)="onStatusChange(i, user.slug, status.Rejected)">
                    <a
                      class="block px-5 py-2 hover:bg-[#bdbdbd] hover:text-black"
                      >Rejected</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <app-admin-pagination [totalPages]="totalPages" (pageCountEmitter)="onPageSizeLimit($event)"></app-admin-pagination>
    </div>
  </div>
</div>
