

<div  *ngIf="item">


<h1 *ngIf="type == 'venue'" class="text-[1.5rem] font-bold ps-6 pb-6">
  Venue Detail
</h1>
<h1 *ngIf="type == 'planner'" class="text-[1.5rem] font-bold ps-6 pb-6">
  Event Planner Detail
</h1>

<div class="bg-gray-100 mb-10">
  <div class="container mx-auto px-8 pt-8">
    <div class="flex flex-wrap -mx-4"  >
      <!-- Product Images -->
      <div class="w-full md:w-1/2 px-4 mb-5">
        <img
          [src]="item.coverPic"
          [alt]="type + '_image'"
          class="w-full h-auto rounded-lg md:h-80 shadow-md object-cover overflow-hidden"
        />
        <div class="flex gap-4 py-4 justify-center overflow-x-auto"></div>
      </div>

      <!-- Product Details -->
      <div class="w-full md:w-1/2 px-4" *ngIf="item.address">
        <h2 class="text-4xl font-bold mb-1">{{ name }}</h2>
        <div class="flex items-center text-red-500 text-[.93rem]">
          <i class="fa-solid fa-location-dot me-2"></i>
          <span class="font-semibold capitalize">{{ item.address?.city }}</span>
          <span class="font-semibold capitalize"
            >, {{ item.address?.state }}</span
          >
        </div>

        <div *ngIf="item.approval" class="mt-2">
          <span
            *ngIf="item.approval === 'approved'"
            class="py-1 px-2.5 bg-[#D1FAE5] rounded text-md text-[#065F46] font-medium"
          >
            {{ item.approval }}
          </span>
          <span
            *ngIf="item.approval === 'pending'"
            class="py-1 px-2.5 bg-[#FEF3C7] rounded text-md text-[#92400E] font-medium"
          >
            {{ item.approval }}
          </span>
          <span
            *ngIf="item.approval === 'rejected'"
            class="py-1 px-2.5 border-none rounded bg-red-100 text-xl text-red-800 font-medium"
          >
            {{ item.approval }}
          </span>
        </div>

        <div class="mb-6 mt-3">
          <p
            class="pt-4 text-base flex items-center justify-center lg:justify-start"
          >
            <i class="fa-solid fa-phone text-green text-[1.2rem] me-3"></i>
            <span>{{ item.contact.mobile }}</span>
          </p>
          <p
            class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"
          >
            <i class="fa-regular fa-envelope text-green text-[1.2rem] me-3"></i>
            <span>{{ item.contact.email }}</span>
          </p>

          <p
            *ngIf="plannerItem && plannerItem?.website"
            class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"
          >
            <i class="fa-solid fa-globe text-green text-[1.2rem] me-3"></i>
            <span>{{ plannerItem.website }}</span>
          </p>
        </div>

        <div class="mb-4" *ngIf="venueItem">
          <span class="text-2xl font-bold mr-2">{{
            venueItem.rent | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
          <span class="text-gray-500 text-sm">Rental Cost</span>
        </div>

        <div class="mt-3">
          <p
            *ngIf="plannerItem && plannerItem.planningFee"
            class="text-2xl font-bold text-blue-600"
          >
            {{
              plannerItem.planningFee.minPrice | currency : "INR" : "symbol" : "1.0-0"
            }}
            <span class="mx-2">-</span>
            {{
              plannerItem.planningFee.maxPrice | currency : "INR" : "symbol" : "1.0-0"
            }}
            <span class="text-center text-[.9rem] text-gray-300 font-medium"
              >Planning Fee</span
            >
          </p>

          <div *ngIf="venueItem">
            <p
              *ngIf="venueItem.platePrice?.vegPerPlate"
              class="lg:text-sm flex items-center justify-center lg:justify-start py-2"
            >
              <span class="text-[#404041] font-medium text-[1.1rem]">
                {{
                  venueItem.platePrice?.vegPerPlate
                    | currency : "INR" : "symbol" : "1.0-0"
                }}
              </span>
              <span class="text-gray-300 ms-1 text-[.8rem] font-medium"
                >Veg price</span
              >
            </p>
            <p
              *ngIf="venueItem.platePrice?.nonVegPerPlate"
              class="lg:text-sm flex items-center justify-center lg:justify-start py-2"
            >
              <span class="text-[#404041] font-medium text-[1.1rem]">
                {{
                  venueItem.platePrice?.nonVegPerPlate
                    | currency : "INR" : "symbol" : "1.0-0"
                }}
              </span>
              <span class="text-gray-300 ms-1 text-[.8rem] font-medium"
                >Non-veg price</span
              >
            </p>
            <p
              *ngIf="venueItem.decorStartingPrice"
              class="lg:text-sm flex items-center justify-center lg:justify-start py-2"
            >
              <span class="text-[#404041] font-medium text-[1.1rem]">
                {{
                  venueItem.decorStartingPrice
                    | currency : "INR" : "symbol" : "1.0-0"
                }}
              </span>
              <span class="text-gray-300 ms-1 text-[.8rem] font-medium"
                >Decor starting price</span
              >
            </p>
            <p
              *ngIf="venueItem.rooms?.roomStartingPrice"
              class="lg:text-sm flex items-center justify-center lg:justify-start py-2"
            >
              <span class="text-[#404041] font-medium text-[1.1rem]">
                {{
                  venueItem.rooms.roomStartingPrice
                    | currency : "INR" : "symbol" : "1.0-0"
                }}
              </span>
              <span class="text-gray-300 ms-1 text-[.8rem] font-medium"
                >Room starting price</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-8">
    <ul
      class="w-full flex flex-wrap items-center justify-between text-md text-black bg-[#E7E2E2] px-0 shadow-md"
    >
      <li
        *ngFor="let item of allMenus"
        class="font-semibold px-8 py-3 hover:bg-[#CB3A3A] hover:text-white cursor-pointer"
      >
        {{ item }}
      </li>

      <li
        class="font-semibold px-10 py-3 bg-[#CB3A3A] text-white cursor-pointer"
      >
        WISHLIST
      </li>
    </ul>


    <div *ngIf="plannerItem">
      <app-planner-body-detail [eventPlannerData]="plannerItem"></app-planner-body-detail>
    </div>


   <div *ngIf="venueItem">
    <app-venue-body-detail [venueData]="venueItem"></app-venue-body-detail>
   </div>





  </div>
</div>

</div>
<!--
<div class="flex space-x-4 mb-6">
  <button
    class="bg-indigo-600 flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
    Add to Cart
  </button>
  <button
    class="bg-gray-200 flex gap-2 items-center  text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
    </svg>
    Wishlist
  </button>
</div> -->
