

<div class="relative h-100">
  <div class="relative h-100">
    <div class="absolute inset-0 bg-gradient-overlay"></div>
    <img class="w-full h-full object-cover" alt="Descriptive Alt Text" src="assets/images/pexels-joswaphotography-20024313.jpg">
  </div>
  <div class="absolute inset-0 flex items-center justify-center z-[30]">
    <div class="px-10 h-20 flex items-center justify-center" style="background: rgba(255, 255, 255, 0.25);">
      <app-search-location></app-search-location>
    </div>
  </div>
</div>


