



<div class="fixed inset-0 z-[1000] flex items-center justify-center overflow-hidden bg-black bg-opacity-50">

  <div class="max-w-4xl bg-white rounded-xl shadow-lg p-4">
     <!-- Modal -->
     <div class="w-full">
       <div class="p-4">
         <div class="mb-4 flex items-center justify-between">
           <h2 class="text-xl font-semibold">Video Call</h2>
           <div>
             <button (click)="endCall()" class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded">End
               Call</button>
             <button (click)="toggleControls()"
               class="ml-2 bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded">Toggle Controls</button>
           </div>
         </div>

         <div class="flex h-[18rem]">
           <video #localVideo autoplay muted class="w-1/2 border border-gray-300 rounded-lg"></video>
           <video #remoteVideo autoplay muteds  class="w-1/2 border border-gray-300 rounded-lg ml-2"></video>
         </div>

         <div *ngIf="message" class="mt-4 flex justify-center space-x-4 text-red-600 font-semibold">
          {{ message }}
         </div>

         <div *ngIf="showControls" class="mt-4 flex justify-center space-x-4">
           <button (click)="toggleAudio()" class="bg-gray-700 hover:bg-gray-800 text-white py-1 px-3 rounded">Toggle
             Audio</button>
           <button (click)="toggleVideo()" class="bg-gray-700 hover:bg-gray-800 text-white py-1 px-3 rounded">Toggle
             Video</button>
         </div>
       </div>
     </div>
   </div>
 </div>





