


  <div class="col-span-6" [formGroup]="addressFormGroup">
    <div class="grid grid-cols-12 gap-6">
      <!-- address-->

      <div class="col-span-6 relative" *ngFor="let item of addressInfo">
        <label for="{{item}}" class="font-medium text-gray-900 block mb-2">{{item}}
          <span *ngIf="isFieldRequired('addressInfo',item)" class="text-red-600">*</span>
        </label>
        <input *ngIf="item !== 'state'" type="{{item === 'pincode' ? 'number' : 'text'}}"
            formControlName="{{item}}" id="{{item}}" placeholder="Enter {{item}}"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
             autocomplete="off" (blur)="onBlur(item)" (focus)="showSuggestions = item === 'city'">

        <select *ngIf="item === 'state'" formControlName="{{item}}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full
              p-2.5 focus:ring-cyan-600 focus:border-cyan-600 dark:placeholder-gray-400
              dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="">Choose a country</option>
          <option *ngFor="let state of indianStatesAndUTs" value="{{state}}">{{state}}</option>
        </select>

        <div *ngIf="item === 'city' && filteredCities.length > 0 && showSuggestions"
          class="bg-white rounded-lg shadow-xl absolute right-0 left-0 z-10">

          <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-black">
            <li *ngFor="let city of filteredCities" (click)="selectCity(city)"
              class="p-2 rounded hover:bg-gray-500 hover:text-white cursor-pointer">
              {{ city }}
            </li>
          </ul>
        </div>
        <p class="text-red-600 text-[.75rem] text-left italic"
            *ngIf="isFieldError('addressInfo', item)">Please enter a valid {{item}}!
        </p>
      </div>
      <!-- addressinfo ends here-->
    </div>
  </div>
