

<header class="bg-gainsboro-100 flex flex-row items-start justify-start gap-[12.875rem] max-w-full">
  <div class="min-w-[300px] flex flex-row items-center justify-center h-[4rem] px-7 bg-royalblue-100">
    <div class="flex items-center justify-center box-border">
      <h3 class="text-[1.5rem] font-itim text-gray-100 z-10 uppercase">{{heading}}</h3>
    </div>
  </div>
  <div class="w-2/5 flex flex-col items-start justify-start pt-[0.737rem] px-[0rem] pb-[0rem] box-border max-w-full">
    <div class="self-stretch flex flex-row items-end justify-start gap-[2.187rem] max-w-full">
      <div class="flex-1 flex flex-row items-center justify-start pt-[0.512rem] px-[0.687rem] pb-[0.518rem] box-border relative gap-[0.593rem] min-w-[6rem] max-w-full z-[1]">
        <div class="h-full w-full absolute !m-[0] top-[0rem] right-[0rem] bottom-[0rem] left-[0rem] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] rounded-mini
           bg-gray-100 box-border border-[0.5px] border-solid border-silver"></div>
        <i class="fa-solid fa-magnifying-glass z-10 text-gray-400"></i>
        <input class="w-[4.375rem] [border:none] [outline:none] font-itim text-[1.188rem] bg-[transparent] h-[1.438rem] relative text-gray-300 text-left inline-block p-0 z-[1]" placeholder="Search..." type="text" />
      </div>

    </div>
  </div>
</header>
