

<div class="my-6">
  <app-detail-headers [header]="'Areas'">
      <app-detail-areas [capacity]="venueData.capacity"></app-detail-areas>
  </app-detail-headers>
</div>
<div class="my-6">
  <app-detail-headers [header]="'about'">
      <app-detail-about [about]="venueData.description || ''"
         [extraInfo]="venueData.amenities"
         [Title]="'Amenities'">
      </app-detail-about>
  </app-detail-headers>
</div>
<div class="my-6">
  <app-detail-headers [header]="'Address'">
      <app-detail-address [addressInfo]="venueData.address"></app-detail-address>
  </app-detail-headers>
</div>
<div class="my-6">
  <app-detail-headers [header]="'services'">
      <app-detail-services [services]="venueData.services || []"></app-detail-services>
  </app-detail-headers>
</div>
<div class="my-6">
  <app-detail-headers [header]="'works'">
      <app-detail-works [portfolios]="venueData.portfolios" [folder]="folder"></app-detail-works>
  </app-detail-headers>
</div>
